*.pyc
chromedriver-win64/chromedriver.exe
*.xml
.env
*.csv
teste_velocidade_v1/.~lock.data.csv\#
*.csv#
/desbloquer_view_explorer/build
/desbloquer_view_explorer/dist
*.spec
*.txt
*.exe
*.pdf
/anydesk/build
*.rar
